$color-white: #ffffff;
$color-cream-white: #f7f2f2;
$color-blue: rgb(5, 121, 5);
$color-blue: #1890ff;
$color-light-blue: #ecf2f64d;
$color-light-cream: #f4f4f4;

$box-shadow-modal: 0 2px 10px rgba(0, 0, 0, 0.2);
$box-shadow-primary: rgba(0, 0, 0, 0.5);
